	public java.util.List<${interface}> get${methodName}() {
		return this.${attrName} == null ? null : this.${attrName}.stream().map(${interface}.class::cast).collect(java.util.stream.Collectors.toList());
	}
